{% extends "auctions/layout.html" %}s
{% load static %}

{% block body %}
<div class="bg-light pt-5">
    <div class="text-center">
        <h2 class="text-muted">Listings tagged with <strong>{{ category }}</strong></h2>
    </div>
    <div class="row my-3 justify-content-center">
        {% for listing in listings %}
        <!-- Creating Bootstrap Card for each listing -->
        <div class="col-8 col-lg-5 col-xl-5">
            <div class="my-2 mx-2">
                <div class="card mb-3">
                    <div class="row g-0">
                        {% if listing.image %}
                        <div class="col-md-4">
                            <img src="{{ listing.image.url }}" class="img-fluid rounded-start" alt="Uploaded Image">
                        </div>
                        {% else %}
                        <div class="col-md-4">
                            <img src="{% static 'auctions/no-image-available.jpg' %}" class="img-fluid rounded-start" alt="Uploaded Image">
                        </div>
                        {% endif %}
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <div style="display: inline-block; width: 90%;">{{ listing.title }}</div>
                                    {% if not listing.current_bid %}
                                        <div style="float: right; width: 10%;">{{ listing.starting_bid }}$</div>
                                    {% else %}
                                        <div style="float: right; width: 10%;">{{ listing.current_bid }}$</div>
                                    {% endif %}
                                </h5>
                                <div class="card-text"><small>Category:</small>{{ listing.category }}</div>
                                <div class="card-text mb-2"><small>Description:</small> {{ listing.description_small }}</div>
                                {% if user.is_authenticated %}
                                    <div><a href="{% url 'listing' listing.id %}" class="btn btn-outline-dark btn-sm">View details</a></div>
                                {% else %}
                                    <div><strong>Sign in to view: </strong> {{ listing.title }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>                            
            </div>
        </div>
        {% endfor %}    
    </div> 
</div>  
{% endblock %}